<div class="container">

    <!-- Jumbotron  -->
    <div class="jumbotron">
      <h1>New York Times Scraper</h1>
    </div>

    <div class="row">
      <!-- Results Panel -->
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Search Results</h3>
          </div>
          <div class="panel-body" id="well-section">
              {{#each articles}}
              <div class="panel panel-default">
                <div class="panel-body" data-id = {{id}}> {{title}} 
                    <button class = "btn btn-primary" type="Note">Leave Note</button>
                    <button class = "btn btn-primary" type="unsave">Unsave</button>
                </div>
              </div>
              {{/each}}
          </div>
        </div>
      </div>
    </div>
    <button class = "btn btn-primary" type="home">Back</button>

</div>